<!doctype html>
<title>Admin: Atomic Scala Seminar</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<h1><a href="{{ url_for('admin_tasks') }}">Admin</a>: Atomic Scala Seminar</h1>
<div class=metanav>
{% if not session.admin_logged_in %}
  <a href="{{ url_for('admin') }}">log in</a>
{% else %}
  <a href="{{ url_for('admin_logout') }}">log out</a>
{% endif %}
</div>
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <ul>
        {%- for msg in errors %}
        <li>{{ msg }}</li>
        {% endfor -%}
      </ul>
    </div>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

