{% extends "adminlayout.html" %}

{% macro tableN(tableData, nCols) -%}
  <table border="1">
    {%- for row in tableData|batch(nCols) %}
      <tr>
      {%- for cell in row %}
      <td>
        {% if cell is defined %}
          {{ cell.name }}
          <hr>
          {{ cell.workGroup }}
          <hr>
          {% for prev in cell.prevPairings %}
            {{prev}}<br>
          {% endfor %}
        {% else %}
          &nbsp;
        {% endif %}
      </td>
      {%- endfor %}
      </tr>
    {%- endfor %}
  </table>
{%- endmacro %}

{% block body %}
  <a href="{{ url_for('generate_pairs') }}"><h2>Generate New Pairs</h2></a>
  <a href="{{ url_for('show_pairs') }}"><h2>Display Pairs</h2></a>
  <blockquote>
  {{ tableN(entries, 5) }}
  </blockquote>
  <a href="{{ url_for('regenerate_test_database') }}"><h2>Regenerate Test Database</h2></a>
{% endblock %}
